name: Deploy Frontend

on:
  push:
    branches: ["main"]

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          printf "%s" "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Upload FE files
        run: |
          rsync -avz --delete \
            --exclude=".git" \
            . ubuntu@${{ secrets.EC2_HOST }}:${{ secrets.DEPLOY_DIR }}/

      - name: Deploy Frontend on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@3.110.167.10 << 'EOF'
          
            cd /var/www/fleet-fe

            echo "${{ secrets.FE_ENV }}" > .env

            npm install
            npm run build

            pm2 stop fleet-fe || true
            pm2 delete fleet-fe || true
            pm2 start npm --name "fleet-fe" -- start
            pm2 save

            exit
          EOF
